# Supabase credentials — get from supabase.com > project > Settings > API
VITE_SUPABASE_URL=https://irimbwitdxeduxcvfnjg.supabase.co/
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlyaW1id2l0ZHhlZHV4Y3ZmbmpnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ1MzU0NzcsImV4cCI6MjA5MDExMTQ3N30.6H9YrsthL5DgJJ1Br4NASjASe7i9mjLq7QJ1pu3F9dU